@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="card">
        <div class="card-header">Topic</div>
        <div class="card-body">
            <div class="row align-items-start">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">QWE</div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">QWE</div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">QWE</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><a href="#" class="btn btn-dark">See more >></a></div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 card">
        <div class="card-header">Idea</div>
        <div class="card-body">
            <div class="row align-items-start">
                <div class="card">
                    <div class="card-body">QWE</div>
                </div>
                <div class="card">
                    <div class="card-body">QWE</div>
                </div>
                <div class="card">
                    <div class="card-body">QWE</div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><a href="#" class="btn btn-dark">See more >></a></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 card">
        <div class="card-header">Comment</div>
        <div class="card-body">
            <div class="row align-items-start">
                <div class="card">
                    <div class="card-body">QWE</div>
                </div>
                <div class="card">
                    <div class="card-body">QWE</div>
                </div>
                <div class="card">
                    <div class="card-body">QWE</div>
                </div>
            </div>
        </div>
    </div>
</div>
