html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text-right {
    margin-top: 10px;
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

/*.table-hover tbody tr:hover {
    background-color: #00ffe3;
}*/

.inline-select {
    width: auto;
    display: inline-block;
}

.gapbreak{
    margin-bottom: 15px;
}

thead {
    background-image: linear-gradient(to right, #20e3b2, #2cccff);
}

.form-view {
    border-radius: 10px;
    border-left: 8px #007bff solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.home-section {
    border-radius: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.bg-purple {
    background-color: #c27fdf;
}