html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-right {
    margin-top: 10px;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

.inline-select {
    width: auto;
    display: inline-block;
}