@model  Idear.Areas.Staff.ViewModels.CreateIdeasVM

@{
	ViewData["Title"] = "Create Idea";
}

<form method="post" asp-action="Create" enctype="multipart/form-data"> 
	
	<div class="border p-3 mt-4"> 
		<div asp-validation-summary-All>
		<div class="row mb-3">
			<label asp-for="TopicId">Accessible Topic</label>
			<select asp-for="TopicId" asp-items="@Model.Topics" class="form-control">
				<option selected disabled>--Select Topics-- </option>
			</select>
			<span asp-validation-for="TopicId" class="text-danger"></span>
		</div>
		</div> <div class="row mb-3"> 
			<label asp-for="Text">Idea</label> 
			<input asp-for="Text" class="form-control" /> 
			<span asp-validation-for="Text" class="text-danger"></span> 
		</div> 
		<div class="row mb-3">
			<label for="file-input">Supporting files</label>
			<input type="file" id="file-input" name="file" class="form-select" />
		</div>
		<div class="row mb-3"> 
			<label asp-for="CategoryId">Category</label> 
			<select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control"> 
				<option selected disabled>--Select Category-- </option> 
			</select> 
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>
		<div class="row mb-3">
			<input type="checkbox" class="form-check-input" id="chk-anonymous" asp-for="IsAnonymous">
			<label class="form-check-label" for="chk-anonymous" asp-for="IsAnonymous">Post this ideas as anonymous</label>
			<span asp-validation-for="IsAnonymous" class="text-danger"></span>
		</div>
		<div class="row mb-3">
			<input type="checkbox" class="form-check-input" id="chk-agree" asp-for="AgreeTerms">
			<label class="form-check-label" for="chk-anonymous" asp-for="AgreeTerms">I agree to the terms and conditions</label>
			<span asp-validation-for="AgreeTerms" class="text-danger"></span>
		</div>
			<button class="btn btn-primary" type ="submit">Create</button>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}