@model Idear.Areas.Staff.ViewModels.CreateIdeasVM

@{
	ViewData["Title"] = "Edit Idea";
}
<div class="card mx-3 mt-n5 shadow-lg form-view">
	<form method="post" asp-action="Edit" enctype="multipart/form-data">
		<div class="card-body">
			<h3 class="text-center">Create Idea</h3>
			<div asp-validation-summary-All>
				<div class="gapbreak">
					<label asp-for="TopicId"><b>Accessible Topic</b></label>
					<select asp-for="TopicId" asp-items="@Model.Topics" class="form-control">
						<option selected disabled>-- Select Topic -- </option>
					</select>
					<span asp-validation-for="TopicId" class="text-danger"></span>
				</div>
				<div class="gapbreak">
					<label asp-for="Text"><b>Idea</b></label>
					<input asp-for="Text" class="form-control" />
					<span asp-validation-for="Text" class="text-danger"></span>
				</div>
				<div class="gapbreak">
					<label for="file-input"><b>Supporting files</b></label>
					<input type="file" id="file-input" name="file" class="form-control" />
				</div>
				<div class="gapbreak">
					<label asp-for="CategoryId"><b>Category</b></label>
					<select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control">
						<option selected disabled>-- Select Category -- </option>
					</select>
					<span asp-validation-for="CategoryId" class="text-danger"></span>
				</div>
				<div class="form-switch gapbreak">
					<input type="checkbox" class="form-check-input" id="chk-anonymous" asp-for="IsAnonymous">
					<label class="form-check-label" for="chk-anonymous" asp-for="IsAnonymous">Post this ideas as anonymous</label>
					<span asp-validation-for="IsAnonymous" class="text-danger"></span>
				</div>
				<div class="form-switch gapbreak">
					<input type="checkbox" class="form-check-input" id="chk-agree" asp-for="AgreeTerms">
					<label class="form-check-label" for="chk-anonymous" asp-for="AgreeTerms">I agree to the terms and conditions</label>
					<span asp-validation-for="AgreeTerms" class="text-danger"></span>
				</div>
				<div class="form-group text-right">
					<button class="btn btn-dark" type="submit"><i class="bi bi-card-checklist"></i>Edit idea</button>
					<a asp-action="ListIdeaByUser" class="btn btn-light"><i class="bi bi-arrow-return-left"></i> Back to list</a>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}